/* Campton-Medium Fonts */
  @font-face {
  font-family: 'Campton-Medium';
  src:
                              url('https://sacdemo.github.io/CustomFontsSAC/Campton-Medium.otf') format('opentype'),
                              url('https://sacdemo.github.io/CustomFontsSAC/Campton-Medium.woff') format('woff'),
                              url('https://sacdemo.github.io/CustomFontsSAC/Campton-Medium.ttf') format('truetype');
               font-weight: normal;
               font-style: normal;
  }
